.bg_login {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .wrapper {
    background: #fff;
    border-radius: 12px;
    border: #ccc 1px solid;
    width: 400px;
    height: auto;
    padding: 2rem;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      font-weight: 600;
      position: relative;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      font-weight: 600;
      position: relative;
      margin-bottom: 1rem;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      width: 100%;

      .input_email,
      .input_pass {
        width: 100%;
      }

      .errors {
        text-align: left;
        display: none;
        padding-bottom: 10px;
        line-height: 1.2rem;
      }

      .error_email,
      .error_pass,
      .error_confirmpass {
        color: red;
        padding: 10px 0;
      }

      input {
        padding: 0.5rem 0;
        width: 100%;
        text-indent: 10px;
        font-size: 1.2rem;
        outline: 0;

        &:hover {
          outline: 0;
        }
      }
    }

    .forgot {
      margin-top: 1rem;
    }

    .registerLink {
      padding-top: 2rem;
      border-top: 1px solid #000;
      margin-top: 1rem;
    }

    .btn {
      input[type="submit"] {
        background-color: #63b110;
        color: white;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 15px;
        padding: 1rem 2rem;
        text-indent: 0;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 1rem;

        &:hover {
          cursor: pointer;
          background-color: #5a9f0b;
        }
      }
    }
  }
}
